.nav-custom-bg{
	background-color: #fff;
}
.nav-custom-bg a img{
	height: 50px;
}
header .main-nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 4000;
	height: 50px;
	font-size: 14px;
}
header .main-nav-scrolled{
	background-color: rgba(0,0,0,0.4);
}
.navbar-light .navbar-nav .nav-link{
	color: #323332 !important;
}
.navbar-light .navbar-nav .active .nav-link{
	color: #e10d0d !important;
}
.logout{
	cursor: pointer;
}