<main class="login-form cotainer-fluid register-form">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-5">
                <div class="card login-form-card">
                    <div class="card-body login-card-body">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="text-center"><img src="../../assets/dsinz-play-logo.png" /></div>
                       
                            
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
</main>