/* You can add global styles to this file, and also import other style files */
body{
    background-color: #323332 !important;
    font-family: 'Roboto';

}
.btn-custom-bg{
    background-color: #e10d0d !important;
    border-color:#e10d0d !important;
}
