/* You can add global styles to this file, and also import other style files */
body{
    padding-top: 100px;
}
.btn-custom-bg{
    background-color: #00a65a !important;
    border-color:#00a65a !important;
}